doctype html

html(lang="en")
  head
    include ../includes/meta.pug
    include ../includes/css.pug
    block css
    title= title
  body
    main
      header
        h1= title
        h4= subtitle
      section
        block content
      footer
        p= `${date} ${author}`
    include ../includes/js.pug
    block js
