doctype html

html(lang="en")
  head
    include ../includes/meta.pug
    include ../includes/css.pug
    block css
    title= title
  body
    main
      header
        .container
          h1.header-700= title
          h4.header-400= subtitle
      section
        .container
          block content
      footer
        .container
          .footer
            p= `${date} ${author}`
    include ../includes/js.pug
    block js
